<template id="div-tooltiptext">
    <div class="ms-2 bg-light js-div-tooltiptext d-flex flex-column">
      <p class="text-dark h5">Il faut être connecté pour accéder à ce service.</p>
      <div class="mb-2">
        <a class="div_a_text" href="{{ path('app_register') }}">S'inscrire</a>
      </div>
      <div class="" >
        <a class="div_a_text" href="{{ path("app_login")}}">Se connecter</a>
      </div>
    </div>
  </template>