{% extends 'base.html.twig' %}

{% block title %}Réinitialiser Mot de Passe{% endblock %}

{% block body %}
    <h1>Réinitialiser Mot de Passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn form_button_background-color">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
